body {
  background: black;
  color: white;
  /*counter-reset: h2;*/
  /*counter-reset: section;*/
}

/*h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}*/

.least-content {
  color: rgba(255, 255, 255, 0.54) !important;
}
.list-group-item-heading {
  color: rgba(255, 255, 255, 0.77) !important;
}
.badge {
  background-color: #eac82a;
  color: black;
}
.list-group {
  /*margin-bottom: 0;*/
}
.row-action-primary > i {
  background: rgba(255, 255, 255, .25) !important;
}
i {
  color: #eac82a !important;
}
.jumbotron {
  background: rgba(255, 255, 255, .25) !important;
}
.yellow {
  color: #eac82a;
}
#header {
  margin-top: 40px;
}
.vertical-divider {
  position: absolute;
  height: 80%;
  margin: 0 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}
.header-info {
  font-size: 20pt;
}
